<div
    aria-modal="true"
    role="dialog"
    class="overflow-y-auto overflow-x-hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-50"
>
    <div
        class="w-full m-w-[800px] bg-white rounded-lg shadow p-10 drop-shadow-lg md:w-[800px] animate-modal"
    >
        <div class="flex items-center justify-between pb-5 border-b border-['#E0Es0E0']">
            <div>
                <h3 class="font-bold text-2xl">Create Credit</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
            </div>
            <a href="<%= url %>" id="ac-modal-close" aria-label="close" class="ac-modal-btn-close"
                >Close</a
            >
        </div>
        <div class="w-full py-5">
            <form action="" class="grid grid-cols-2 gap-10">
                <%- include('./input_html', {
                    container_class: 'py-2',
                    label_class: 'block mb-2',
                    input_id: 'creditors',
                    input_label: 'Name of Creditors',
                    input_type: 'text',
                    input_placeholder: 'Ex. Juan Dela Cruz',
                    input_class: 'ac-modal-input',
                }); -%>

                <%- include('./input_html', {
                    container_class: 'py-2',
                    label_class: 'block mb-2',
                    input_id: 'products',
                    input_label: 'Name of Products',
                    input_type: 'text',
                    input_placeholder: 'Ex. Lemonade',
                    input_class: 'ac-modal-input',
                }); -%>
                
                <div class="flex gap-4 py-2">
                    <%- include('./input_html', {
                        container_class: 'py-2',
                        label_class: 'block mb-2',
                        input_id: 'quantity',
                        input_label: 'Name of Products',
                        input_type: 'number',
                        input_placeholder: 'Qty',
                        input_class: 'ac-modal-input',
                    }); -%>

                    <%- include('./input_html', {
                        container_class: 'py-2',
                        label_class: 'block mb-2',
                        input_id: 'date',
                        input_label: 'Name of Products',
                        input_type: 'date',
                        input_placeholder: 'date',
                        input_class: 'ac-modal-input',
                    }); -%>
                </div>

                <%- include('./select_html', {
                    container_class: 'py-2',
                    label_class: 'block mb-2 text-md',
                    select_name: 'Transaction Category',
                    select_id: 'transaction',
                    select_class: 'ring-focus border border-[#E0Es0E0] w-full px-2 py-1.5 rounded-md',
                    options: [{ value: 'credit', name: 'Credit' }, { value: 'cash', name: 'Cash'}]

                }); -%>
                
                <button
                    type="submit"
                    class="ring-focus bg-stone-900 hover:bg-stone-800 text-white py-2 px-16 rounded-md mt-20 col-span-2 place-self-end"
                >
                    Add
                </button>
            </form>
        </div>
    </div>
</div>

<div class="ac-modal-overlay"></div>
