<div class="<%= container_class %>">
    <label for="<%= input_id %>" class="<%= label_class %>"><%= input_label %></label>
    <input
        id="<%= input_id %>"
        type="<%= input_type %>"
        placeholder="<%= input_placeholder %>"
        class="<%= input_class %>"
        name="<%= input_id %>"
    />
</div>
