<div class="my-4 h-full border border-['#E0Es0E'] p-4 rounded-md">
	<div class="mb-8 flex items-center justify-between">
		<div>
			<h2>Total</h2>
			<strong>5999</strong>
		</div>
		<%- include('./search_html', { search_label: 'Search for transaction', search_placholder: 'Search transaction...'}) -%>
		<div>
      <button
        type="button"
        aria-label="Filter"
        class="flex items-center gap-1 px-3 py-1 border border-b-['#E0Es0E0'] rounded-md hover:bg-gray-100"
      >
      	<img src="../../icon/filter.svg" alt="Filter" class="h-4 w-4" />
        <span>Filter</span>
      </button>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div>
	</div>
	<div class="h-[300px]">
		<table class="w-full text-sm">
			<thead class="border-b border-['#E0Es0E']">
				<tr class="font-normal">
					<th class="h-12 px-4 text-left align-middle text-gray-500">Transaction Id</th>
					<th class="h-12 px-4 text-left align-middle text-gray-500">Transaction Type</th>
					<th class="h-12 px-4 text-left align-middle text-gray-500">Amount</th>
					<th class="h-12 px-4 text-left align-middle text-gray-500">Date</th>                              
				</tr>
			</thead>
				<tbody>
					<% transactions.map((transaction) => { %>
						<tr class="border-b border-['#E0Es0E'] hover:bg-gray-100 cursor-pointer">
							<td class="p-4 align-middle"><%= transaction.id %></td>
							<td class="p-4 align-middle"><%= transaction.transactionType %></td>
							<td class="p-4 align-middle"><%= transaction.totalAmount %></td>
							<td class="p-4 align-middle"><%= transaction.date %></td>
						</tr>
					<% }); %>
				</tbody>
		</table>
	</div>
	<div class="flex justify-between items-center px-6 pb-6 mt-[100px]">
			<div class="text-sm text-gray-500">Showing
				<span> <strong>1</strong>-<strong>7</strong> </span>
				of <strong>50</strong> customers
			</div>
			<div>pagination</div>
	</div>
</div>
