<table class="w-full text-sm">
  <thead class="border-b border-['#E0Es0E']">
    <tr class="font-normal">
      <th class="h-12 px-4 text-left align-middle text-gray-500">Customer</th>
      <th class="h-12 px-4 text-left align-middle text-gray-500">Contact</th>
      <th class="h-12 px-4 text-left align-middle text-gray-500">Credit Balance</th>                              
    </tr>
  </thead>
    <tbody>
			<% customers.map((customer) => { %>
				<tr onClick="window.location='/dashboard/customers/<%= customer.id %>'" class="border-b border-['#E0Es0E'] hover:bg-gray-100 cursor-pointer">
					<td class="flex items-center gap-2 p-4 pl-3 align-middle">
						<div class="flex items-center justify-center h-8 w-8 rounded-full bg-gray-200">JL</div>
						<div class="flex flex-col">
							<span class="font-medium"><%= customer.name %></span>
							<span class="text-sm text-gray-500"><%= customer.email %></span>
						</div>
					</td>
					<td class="p-4 align-middle"><%= customer.contactInfo %></td>
					<td class="p-4 align-middle"><%= customer.creditBalance %></td>
				</tr>
			<% }); %>
		</tbody>
</table>